@import 'semantic-ui';

.container-fluid {
   
    margin-right: 50px;
}

.navbar-collapse{
    margin-left:50px;
   
}

.navbar-nav{
gap:10px;
}
.right-navbar{
    margin-right: 50px;
}

.chatbox {
 height: 450px;
 border: 1px solid rgb(83, 78, 78);
}